/* stilius yra is DESKTOP i MOBILE */
.container {
    width: 100%;
    padding: 80px 0;
    background-color: #fff;
}
    .container > .row {
        width: 1000px;
        margin: 0 calc(50% - 500px);
    }

@media (max-width: 1100px) {
    .container > .row {
        width: 700px;
        margin: 0 calc(50% - 350px);
    }
}
@media (max-width: 800px) {
    .container > .row {
        width: 500px;
        margin: 0 calc(50% - 250px);
    }
}
@media (max-width: 600px) {
    .container > .row {
        width: calc(100% - 40px);
        margin: 0 20px;
    }
}